<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPTCHA Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='captcha.css') }}">
</head>
<body>
    <a href="{{ url_for('main') }}" class="back-button"><span>&#8592;</span> Home</a>
    <div class="container">
        <h1>Please solve the CAPTCHA</h1>
        <div id="captcha-container">
            <img src="{{ image_path }}" alt="CAPTCHA" id="captcha_image">
            <form action="{{ url_for('verify') }}" method="post">
                <input type="text" name="captcha" placeholder="Enter CAPTCHA here">
                <button type="submit">Submit</button>
            </form>
            <form action="{{ url_for('retry') }}" method="get">
                <button type="submit">Reload</button>
            </form>
        </div>
    </div>
</body>
</html>
